{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{ object.url }}" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{ object.get_category_display }}</span>
            </a>
            <a href="">
              <span class="badge blue mr-1">New</span>
            </a>
            <a href="">
              <span class="badge red mr-1">Bestseller</span>
            </a>
          </div>

          <p class="lead">
            <span class="mr-1">
              <del>$200</del>
            </span>
            <span>{{ object.price }}</span>
            <a href="">
              <span class="badge green mr-1">LOYALZARA coupon applied</span>
            </a>
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>M&S COLLECTION
            Striped Crew Neck Jumper with Wool and Alpaca</p>

          {% comment %}
          <form class="d-flex justify-content-left">
            <!-- Default input -->
            <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button> -->

          </form> {% endcomment %}

          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          {% for message in messages %}
          <div class="alert alert-primary" role="alert" style="margin-top: 10px;">
            {{message}}
          </div>
          {% endfor%}

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>


  </div>
</main>

{% endblock content %}